body {
    background-image: url("../assets/background.webp");
    background-repeat: repeat;
	background-color: #AAAAAA;
	color: #333333;
}

#wrapper {
	background-color: #64ff84;
	min-width: 700px;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #737373;
}

header {
	height: 80px;
	width: 100%;
}

#logo {
	float: left;
	background-color: #333333;
	background-image: url("../assets/logo.webp");
	background-size: 100%;
	background-repeat: no-repeat;
	width:88px;
	height:80px;
}

header h1 {
	float: left;
	height: 80px;
	width: 400px;
	padding: 0px;
	margin: 0px;
	margin-left: 20px;
	line-height: 80px;
}


/*Nav bar visuals*/
nav {
	float: left;
	width: 100%;
	background-color: #333333;
	color: ghostwhite;
	text-align: left;
	padding-top: 8px;
	padding-bottom: 8px;
	margin: 0px;
	border-bottom: 2px solid #737373;
}

nav ul {
	list-style-type: none;
	text-align: left;
	padding: 0px;
	margin: 0px;
	margin-left: 6px;
}

nav li {
	display: inline-block;
	text-align: center;
	border-bottom: 2px solid #737373;
	border-right: 3px solid #737373;
	border-top: 2px solid #AAAAAA;
	border-left: 3px solid #AAAAAA;
	background-color: #292929;
}

nav a {
	text-decoration: none;
	display: block;
	padding: 0.2em;
	width: 280px;
}

nav a:link, nav a:visited, nav a:active {
	color: cyan;
}

nav a:hover {
	color: #A9FFD4;
	text-decoration: underline;
}

nav a:active, #URHere {
	text-decoration: underline;
}

.navsplash {
	color: ghostwhite;
	text-decoration: none;
	display: inline-block;
	padding: 0px;
	width: 93px;
	border: none;
	background-color: #333333;
}

.nav2xwide {
	width: 177px;
}

#navbreak {
	height: 0px;
	width: 100%;
	border-style: none;
}



main {
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom: 10px;
}

a:link {
	color: #0722ba;
}

a:visited {
	color: #54016d;
}

h2 {
	line-height: 40px;
}

form {
	width: auto;
}

.borderbox, textarea, input{
	border-bottom: 4px solid #737373;
	border-right: 6px solid #737373;
	border-top: 4px solid #AAAAAA;
	border-left: 6px solid #AAAAAA;
}

.boldtext {
	font-weight: bold;
}

.floatcenter {
	float: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

img {
	border-bottom: 4px solid #737373;
	border-right: 4px solid #737373;
	border-top: 4px solid #AAAAAA;
	border-left: 4px solid #AAAAAA;
}

footer {
	text-align: center;
	background-color: #333333;
	color: ghostwhite;
	font-size: 80%;
	padding-top: 1px;
	padding-bottom: 2px;
	border-top: 3px solid #737373;
}